body{
    font-family: 'Roboto', sans-serif;
    color:#424242 ;
    font-size: 1em;
    margin: 0;
}
header {
    display: flex;
}
.nom{
    color:#009688;
}
.Titrenom{
    margin-left: 100px;
    margin-top: 100px;
}
img {
    width: 280px;
    height: 280px;
  border: none;
  -moz-border-radius : 50%;
  -webkit-border-radius : 50%;
  border-radius : 50%;
  background-color:#009688;
  margin-left: 60px;
  margin-top: 30px;
  display: none;
}
.Lefttext {
    padding-left: 40px;
    padding-right: 40px;
} 

#gauche {
    width: 25%;
    background-color:#009688;
    position : relative;
}

.pic {
    background-color: #009688;
    width: 25%;
    
}


.icoloisir  {
    display: flex;
    justify-content: center;
}
.icoloisir i {
    padding: 0 30px;
}


#droite i{
    color: #009688;
    margin-right: 10px;
}
p {
    
    font-size: 25px;
}
.ligne{
    text-decoration: underline #009688
}
h1{
    font-size:4em;
    font-weight: 200;
    line-height: 0;
}
h2, h1{
  color:black;  
}
h3{
    color: #212121;
}
article h2{
    font-size:1.8em;
    text-transform: uppercase;
    border-bottom:2px solid #009688 ;
    padding-bottom:15px;
    font-weight: 500;
}
.titrecolor {
    color: #009688 ;
    background-color:#424242 ;
    text-align: center;
}
main{
 display: flex;

}
#droite {
    margin-left:100px ; 
    width: 75%;
}
.descriptif {
    display: flex;
}
.date {
    width: 50%;
}
.text1 {
    width: 50%;
}
#loisirs {
    width: 100%;
    position : absolute; 
    bottom : 0;
}
aside p {
  padding-left: 40px;
  padding-right: 40px;
}
#reco {
    display: flex;
    justify-content: space-around;
}