    /* Mise en page */

body{
    font-family: 'Roboto', sans-serif;
    color:#424242 ;
    font-size: 1em;
    margin: 0;
}
p{
    
    font-size: 1em;
}
.ligne{
    text-decoration: underline #009688
}
main{
    display: flex;
}

   /* Titres */ 

h1{
    font-size:4em;
    font-weight: 200;
    line-height: 0;
}
h2, h1{
    color:black;  
}
h3{
    color: #212121;
    font-size:1.2em ;
}

   /* Header- Photo/Titres */

header{
    display: flex;  
}
img{
    width: 200px;
    height: 200px;
   -moz-border-radius : 50%;
   -webkit-border-radius : 50%;
    border-radius : 50%;
}
.pic{
    background-color: #009688;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titrenom{
    margin-left: 100px;
    margin-top: 100px;
}
.nom{
    color:#009688;
}

   /* Zone de gauche - Texte,icone etc.. */

#gauche{
    width: 25%;
    background-color:#009688;
    position : relative;
}
.titrecolor{
    color: #009688 ;
    background-color:#424242 ;
    text-align: center;
}
.lefttext{
    padding-left: 40px;
    padding-right: 40px;
}
aside p{
    padding-left: 40px;
    padding-right: 40px;
}
#loisirs{
    width: 100%;
    position : absolute; 
    bottom : 0;
}
.icoloisir{
    display: flex;
    justify-content: center;
}
.icoloisir i {
    padding: 0 30px;
}

   /* Zone de droite - 1er et 2eme articles */

#droite{
    width: 75%;
}
#droite i{
    color: #009688;
    margin-right: 10px;
}
.descriptif{
    display: flex;
    margin-left:100px;
}
.text1{
    width: 50%;
    margin-right: 50px;
}
.date{
    width: 50%;
}
article h2{
    font-size:1.8em;
    text-transform: uppercase;
    border-bottom:2px solid #009688 ;
    padding-bottom:15px;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 50px;
}

  /* Troisième article (Recommandations) */

#reco{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
.email {
    font-weight: normal;
}
